<h3>Create a new Recipe Entry!</h3>

<form action="/recipe_entries" method="post">
<label for="title">Title: </label>
    <input type="text" name="title"> <br>
<label for="ingredients">Ingredients: </label>   
    <input type="text" name="ingredients"><br>
<label for="content">Content: </label>
    <input type="text" name="content" ><br>
    <input type="submit" value="Create Recipe" >
</form>