Recipe show page

<p>Title: <%= @recipe_entry.title %> </p>
<p>Ingredients: <%= @recipe_entry.ingredients %> </p>
<p> Content: <%= @recipe_entry.content %> </p>


<a href="/recipe_entries/<%= @recipe_entry.id %>/edit">Edit Recipe Entry</a>
Delete Link